* {
	box-sizing: border-box;
	margin: 0;
}
:root {
	--bg: white;
	--fg: black;
}
body.dark {
	--bg: black;
	--fg: white;
}
body {
	background: var(--bg);
	color: var(--fg);
	font-family: monospace;
	padding: 2rem;
	line-height: 1.5;
	transition: background-color 0.3s, color 0.3s;
}
h1 {
	border: 0.25rem solid var(--fg);
	cursor: pointer;
	display: inline-block;
	font-size: 2rem;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
button,
input,
select,
textarea {
	background: var(--bg);
	border: 0.25rem solid var(--fg);
	color: var(--fg);
	font-family: inherit;
	padding: 0.5rem;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;
	width: 100%;
}
button {
	background-color: var(--fg);
	color: var(--bg);
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
button:hover {
	background-color: var(--bg);
	color: var(--fg);
}
.layout {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 2rem;
}
.hidden {
	display: none;
}
.dots::after {
	content: "";
	animation: loading 3s steps(1, end) infinite;
}
#controls {
	display: flex;
	flex-direction: column;
	flex: 1 1 20rem;
	gap: 1rem;
}
#list ol {
	margin: 0.5rem 0 1rem 0;
	padding-left: 1.5rem;
}
#list h2 {
	border-bottom: 0.25rem solid var(--fg);
	padding-bottom: 0.25rem;
	transition: border-color 0.3s;
}
#list,
#map {
	flex: 1 1 20rem;
}
#mapViewport {
	height: 45.5rem;
	position: relative;
}
#mapLoading {
	align-items: center;
	border: 0.25rem solid var(--fg);
	display: flex;
	height: 45.5rem;
	justify-content: center;
	position: absolute;
	transition: border-color 0.3s;
	width: 100%;
}
#mapFrame {
	border: 0.25rem solid var(--fg);
	height: 45.5rem;
	position: absolute;
	transition: border-color 0.3s;
	width: 100%;
}
@keyframes loading {
	0% {
		content: "";
	}
	25% {
		content: ".";
	}
	50% {
		content: "..";
	}
	75% {
		content: "...";
	}
	100% {
		content: "";
	}
}
